@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul id="tipos"></ul>
@section MiJS
{
    <script>
        var url = "http://localhost:50326/api/TiposVehiculos";
        $.getJSON(url, undefined, function (res) {

            for (var i = 0; i < res.length; i++) {
                var txt = "<li>" + res[i].nombre + "</li>";
                $("#tipos").append(txt);
            }
        });
    </script>
}




